{% extends 'base.html' %}

{% block content %}

<br><br>
<h3>Yash Mathur</h3>
<h5>Computer Science Dept.
    CMR Institute of Technology Bengaluru, Karnataka</h5>
<a href = "mailto:  y.mathur1498@gmail.com"> y.mathur1498@gmail.com</a>

<br><br><br><br><br><br>

<h3>Dipnarayan Roy</h3>
<h5>Computer Science Dept.
    CMR Institute of Technology Bengaluru, Karnataka</h5>
<a href = "mailto:  dipnarayan.roy@gmail.com"> dipnarayan.roy@gmail.com</a>

<br><br><br><br><br><br>

<h3>Vishal Kundar</h3>
<h5>Information Science Dept.
    CMR Institute of Technology Bengaluru, Karnataka</h5>
<a href = "mailto:  vkundar@gmail.com"> vkundar@gmail.com</a>


{% endblock %}